<div class="receta-form-container">
  <h2 class="text-center my-4">{{ isEditMode ? 'Editar Receta' : 'Agregar Receta' }}</h2>

  <div class="card mx-auto my-4" style="max-width: 600px;">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()">

        <!-- Seleccionar pieza -->
        <div class="form-group mb-3">
          <label for="pieza" class="form-label">Pieza a crear</label>
          <select id="pieza" name="pieza" [(ngModel)]="receta.pieza" (change)="onPiezaChange($event)" class="form-control" [disabled]="isEditMode" required>
            <option *ngFor="let pieza of piezas" [value]="pieza._id">{{ pieza.nombre }}</option>
          </select>
        </div>

        <!-- Mostrar descripción de la pieza seleccionada -->
        <div class="form-group mb-3">
          <label for="descripcion" class="form-label">Descripción de la pieza</label>
          <input type="text" id="descripcion" name="descripcion" [(ngModel)]="descripcionPieza" class="form-control" readonly>
        </div>

        <!-- Material necesario, obtenido automáticamente desde la receta -->
        <div class="form-group mb-3">
          <label for="material" class="form-label">Material necesario</label>
          <select id="material" name="material" [(ngModel)]="receta.material" class="form-control" required>
            <option *ngFor="let material of materiales" [value]="material._id">{{ material.name }}</option>
          </select>
        </div>

        <!-- Resto del formulario -->
        <div class="form-group mb-3">
          <label for="seFabrica" class="form-label">¿Se Fabrica?</label>
          <select id="seFabrica" name="seFabrica" [(ngModel)]="receta.seFabrica" class="form-control" required>
            <option value="">Seleccionar opción</option>
            <option value="interna">Interna</option>
            <option value="externa">Externa</option>
            <option value="no">No se fabrica</option>
          </select>
        </div>
        
        <div class="form-group mb-3">
          <label for="piezasPorUnidad" class="form-label">¿Cuántas piezas se obtendrán?</label>
          <input type="number" id="piezasPorUnidad" name="piezasPorUnidad" [(ngModel)]="receta.piezasPorUnidad" class="form-input" required>
        </div>  
        
        <button type="submit" class="btn btn-success">{{ isEditMode ? 'Actualizar' : 'Crear' }}</button>
      </form>
    </div>
  </div>
</div>
