<h1>PIEZAS</h1>


<div class="piezas-container">
  
  <div class="d-flex justify-content-between align-items-center mb-3">
    <button (click)="crearPieza()" class="btn btn-primary">Agregar Nueva Pieza</button>

    <div class="input-group w-25">
      <input
        type="text"
        [(ngModel)]="filtro"
        (input)="buscarPiezas()"
        placeholder="Buscar pieza..."
        class="form-control"
      />
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>Clave</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Piezas minimas en Stock</th>
        <th></th>
      </tr>
    </thead>
  <tbody>
    <tr *ngFor="let pieza of piezasFiltradas">
      <td>{{ pieza.clave }}</td> 
      <td>{{ pieza.nombre }}</td> 
      <td>{{ pieza.descripcion }}</td> 
      <td>{{ pieza.stockMinimo }}</td> 
      <td>
        <div class="actions">
          <button (click)="editarPieza(pieza._id)">Editar</button>
          <button (click)="eliminarPieza(pieza._id)">Eliminar</button>
        </div>
    </td>
    </tr>
  </tbody>
  </table>
</div>




