<h1 class="text-center my-4">INVENTARIO</h1>

<!-- Enlace para agregar nuevo stock -->
<!--<button routerLink="/stocks/create">Agregar Stock</button>-->

<!-- Stock de Materiales -->
<section>
  <h2 class="text-center">Stock de Materiales</h2>
  <button (click)="crearAumentoMaterial()" class="btn btn-primary mb-3">Ingresar Material</button>
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Material</th>
        <th>Cantidad</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stockMateriales">
        <td>{{ stock.material?.name }}</td>
        <td>{{ stock.cantidad }}</td>
        <td>
          <button class="btn-danger btn-sm" (click)="deleteStock(stock._id)">Eliminar</button>
        </td>
      </tr>
      <tr *ngIf="stockMateriales.length === 0">
        <td colspan="5" class="text-center">No hay materiales registrados.</td>
      </tr>
    </tbody>
  </table>
</section>

<!-- Stock de Piezas -->
<section>
  <h2 class="text-center">Stock de Piezas</h2>
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Pieza</th>
        <th>Cantidad</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stockPiezas">
        <td>{{ stock.pieza?.nombre }}</td> <!-- Ajusta si 'pieza' es diferente -->
        <td>{{ stock.cantidad }}</td>
        <td>
          <button class="btn-danger btn-sm" (click)="deleteStock(stock._id)">Eliminar</button>
        </td>
      </tr>
      <tr *ngIf="stockPiezas.length === 0">
        <td colspan="5" class="text-center">No hay piezas registradas.</td>
      </tr>
    </tbody>
  </table>
</section>

<!-- Stock de Productos Terminados -->
<section>
  <h2 class="text-center">Stock de Productos Terminados</h2>
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stockProductos">
        <td>{{ stock.producto?.name }}</td> 
        <td>{{ stock.cantidad }}</td>
        <td>
          <button (click)="deleteStock(stock._id)">Eliminar</button>
        </td>
      </tr>
      <tr *ngIf="stockProductos.length === 0">
        <td colspan="5" class="text-center">No hay productos registrados.</td>
      </tr>
    </tbody>
  </table>
</section>